@import url('https://cdnjs.cloudflare.com/ajax/libs/inter/3.18/css/inter.min.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6;
}

/* Responsive Design */
@media (max-width: 768px) {
  .grid-cols-2 {
    grid-template-columns: 1fr;
  }
}
